<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PastaPadrao" value="C:" />
    <add key="ListaDeFiltrosPadrao" value="Todos os Arquivos (*.*)|*.*
         Script SQL (*.sql)|*.sql
         Script Linux (*.lnx)|*.lnx
         Arquivo PDF (*.pdf)|*.pdf
         Arquivo de Imagem (*.gif;*.jpg;*.jpeg;*.bmp;*.wmf;*.png)|*.gif;*.jpg;*.jpeg;*.bmp;*.wmf;*.png" />
  </appSettings>
</configuration>
